<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Rothko</string>
	<key>CFBundleExecutable</key>
	<string>Rothko</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.Rothko</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rothko</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>NSPrincipalClass</key>
	<string>RothkoScreenSaverView</string>
	<key>ScreenSaverViewIsPreviewable</key>
	<true/>
</dict>
</plist>
